@font-face {
  font-family: 'Zodiak';
  src: url('/src/assets/fonts/Zodiak-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'MetalMania';
  src: url('/src/assets/fonts/MetalMania-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kablammo';
  src: url('/src/assets/fonts/Kablammo-Regular-VariableFont_MORF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  background-color: #000;
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-sticks path,
.neon-sticks ellipse,
.neon-sticks circle,
.neon-sticks rect,
.neon-sticks polygon {
  fill: #356D45 !important;
}

.neon-sticks {
  filter: drop-shadow(0 0 6px #356D45);
}

